# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/

# Database files
*.sqlite3
*.db

# Logs
*.log

# VSCode settings
.vscode/

# Build artifacts
*.egg-info/
dist/
build/
