# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/

.env

# Database files
*.sqlite3
*.db
code.txt
data/
# Logs
logs.txt
test_logs.txt
# VSCode settings
.vscode/

# Build artifacts
*.egg-info/
dist/
build/
.env

models/
logs.txt
code.txt
code_1.py
test_logs.txt
code.txt
logs.txt
logs.txt.1
